<html>
  <head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <footer>

      <h2 class="hedt1"> footer page : {{title}} </h2>

      <div class="fot-d">
        <a href="/">go to HOME</a>
        <a href="/service">go to SERVICE</a>
        <a href="/team"> go to TEAM</a>
        <a href="/about"> go to about</a>
      </div>

      <div class="fot-d">
        <a href="/">contact</a>
        <a href="/">our project SERVICE</a>
        <a href="/"> our websits </a>
        <a href="/">our shop</a>
      </div>

    </footer>
  </body>
</html>